.hidden {
    display: none;
}

.show {
    display: block;
}

.title-container {
    text-align: center;
    padding: 50px;
}

.title-container h1 {
    font-size: 50px;
    font-family: sans-serif;
}

.title-container p {
    color: rgb(128, 128, 128);
}

.search-container {
    text-align: center;

}

.search {
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.search-btn {
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: rgb(39, 65, 44);
}

.main-content {
    text-align: center;
}

.searched-list-items {
    cursor: pointer;
    margin: 20px;
}