.cart-container {
    text-align: center;
}

.cart-card {
    text-align: center;
    width: 30%;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

.remove-btn {
    margin: 35px;
    padding: 10px;
    color: white;
    font-weight: 600;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: rgb(255, 80, 80);
}